# =============== #
# Unity generated #
# =============== #
Temp/
Library/
UnityGenerated/
Build/**

# =============== #
# Unity plugins   #
# =============== #
Assets/UnityVS/**
Assets/UnityVS.meta

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
